body {
    background: rgba(0,0,0,0.1) !important;
}

.quiz-player-skin {
    height: 100vh !important;
    width: 100vw !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
}


.quiz-player-skin__main-container {
    width: 100% !important;
    height: calc(100% - 100px) !important;
    margin: 0px !important;
}


.quiz-slide-container {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    top: unset !important;
    left: unset !important;
    transform: unset !important;
    transform-origin: unset !important;
}

.quiz-session-view {
    width: 100% !important;
    height: 100% !important;
}

.quiz-slide-visualizer {
    width: 100% !important;
    height: 100% !important;
}

.slide-layout {
    width: 100% !important;
    height: 100% !important;
}

.frames-layer {
    top: 0px !important;
    left: 0px !important;
}

.trial_banner {
    display: none !important;
}

.quiz-control-panel__button{
    background: #356241 !important;
}

.window-button  {
    background: #356241 !important;
}

.slide-state-list-row[aria-selected="true"] {
    background: rgba(53, 98, 65, 0.4) !important;
}

.slide-state-list-row_active {
    background: rgba(53, 98, 65, 0.4) !important;
}

.choice-view__choice-container_active {
    background: rgba(53, 98, 65, 0.4) !important;
}

.mct-answers-list__item[aria-selected="true"] {
    background: rgba(53, 98, 65, 0.4) !important;
}

.mct-answers-list__item_active {
    background: rgba(53, 98, 65, 0.4) !important;
}

.submit {
    background: #356241 !important;
}

.next .mobile {
    background: #356241 !important;
}

.popup_layer .quiz_message_box .buttons_panel > div button {
    background: #356241 !important;
}

.mini .questions_list.component_base .questions_list_content .item.selected {
    background: rgba(53, 98, 65, 0.4) !important;
}

.mini .questions_list.component_base .questions_list_content .item.selected {
    background: rgba(53, 98, 65, 0.4) !important;
}

.message {
    width: 100% !important;
}

.mini .visualizer .multiple_choice .item.selected {
    box-shadow: 0 0 0 2px #356241 !important;
}

.mini .visualizer .multiple_choice .item.selected .icon_area .radio_icon .outline_border {
    background: #356241 !important;
}

.mini .visualizer .multiple_choice .item.selected .icon_area .radio_icon .inline_border {
    background: #356241 !important;
}

.mini .quiz_bottom_panel > div button.start {
    background: #356241 !important;
}

.popup_layer .answers_popup .component_container.items .item.selected {
    background: rgba(53, 98, 65, 0.4) !important;
}

.popup_layer .answers_popup .component_container.items .item.active {
    background: rgba(53, 98, 65, 0.4) !important;
}

.mct-placeholder:focus {
    box-shadow: 0 0 0 2px #356241 !important;
}

.cancel {
    color: #356241 !important;
}

.mini .visualizer .multiple_response .item.selected {
    box-shadow: 0 0 0 2px #356241 !important;
}

.mini .visualizer .multiple_response .item.active {
    box-shadow: 0 0 0 2px #356241 !important;
}

.mini .visualizer .multiple_response .item.selected .icon_area svg rect.check_bg {
    fill: #356241 !important;
}

.mini .quiz_bottom_panel > div button {
    background: #356241 !important;
}

.hotspot-point {
    margin-left: -17px;
    margin-top: -5px;
}
