body {
    /* Location of the image */
    background-image: url("../assets/bg.png");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.show-quiz {
    top: calc(50% - 25px);
    left: calc(50% - 50px);
    width: 120px;
    height: 50px;
    position: absolute;
    background-color: #1c87c9;
    border: none;
    color: white;
    font-size: 20px;
}
